:host {
    .interactive-square {
        width: 100px;
        height: 100px;
        border-color: var(--color, dimgray);
        border-width: 5px;
        border-style: solid;
        margin-top: 14px;
    }

    .interactive-square * {
        pointer-events: none;
    }

    .mouse-hover:not(.drag-hover) {
      filter: brightness(120%);
    }

    .drag-hover {
        border-color: green;
    }

    .larger-icon {
        font-size: 40px;
        width: 40px;
        height: 40px;
        color: var(--color, dimgray);
    }
}
