:host {
  .canvas {
    width: 100%;
    height: 400px;
  }

  mat-icon {
    margin-right: 4px;
  }

  .outer-container {
    display: flex;
    justify-content: space-between;
  }

  .inner-container {
    display: flex;
    align-items: center;
  }
}
