:host {
  .canvas {
    width: 100%;
    height: 400px;
  }

  mat-icon {
    margin-right: 4px;
  }

  .outer-container {
    display: flex;
    justify-content: space-between;
  }

  .inner-container {
    display: flex;
    align-items: flex-start;
  }

  .icon-with-text {
    display: flex;
    align-items: center;
  }

  .transition-solution-list,
  .transition-scroller {
    flex-direction: column;
    align-items: flex-end;
  }

  .transition-scroller {
    max-height: 150px;
    overflow: auto;
    align-items: flex-end;

    > button {
      margin: 4px 0;
    }
  }

  .solutions-loading {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: opacity 1s;

    ::ng-deep mat-progress-spinner {
      margin-bottom: 4px;

      &, svg {
        height: 50px !important;
        width: 50px !important;
      }
    }
  }
}
