:host {
    width: 100%;
    display: flex;
    justify-content: center;

    .mat-form-field {
        margin: 8px;
        width: 100%;
        max-width: 300px;
    }

    .input-label {
        display: inline-flex;
        align-items: center;
        column-gap: var(--spaces);

        mat-icon {
            font-size: 25px;

            &.color_success {
                color: var(--success-color);
            }

            &.color_warning {
                color: var(--warn-color);
            }

            &.color_error {
                color: var(--error-color);
            }
        }
    }

    ::ng-deep .mat-form-field-flex {
        min-height: 400px;
    }

    .resolve-button {
        position: absolute;
        right: 0;
        bottom: var(--spaces);
    }
}
