:host {
  max-width: 400px;

  .more-info-header {
    font-family: Roboto, serif;
    font-size: 14px;

    display: flex;
    margin: var(--spaces-x2) var(--spaces-x2) 0;

    mat-icon {
      margin-right: 4px;
      min-width: 24px;
    }
  }

  button {
    width: 100%;
    text-align: left;
    white-space: normal;
    line-height: normal;
    padding: var(--spaces) var(--spaces-x2);
  }

  button[mat-button] {
    font-weight: normal;
  }

  .no-solution-text {
    font-family: Roboto, serif;
    font-size: 14px;
    color: var(--error-color);
    font-weight: bold;

    margin: 0 var(--spaces-x2);
  }
}
